{block content}

<div class="row">
	<div class="col-sm-12">
		<h1>{_project.delete}</h1>
		<h2>{$project->name}</h2>
		<p>{$project->text}</p>
		<div class="well">
			{control deleteForm}
		</div>
	</div>
</div>