{block content}

<div class="row">
	<div class="col-sm-12">
		<h1>{_survey.delete}</h1>
		<h2>{_survey.survey} {$survey->name}, {_project.project} {$project->name}</h2>
		<div class="well">
			{control deleteForm}
		</div>
	</div>
</div>