project: "Project"
name: "Name of project"
text: "Other informations"
submit: "Save"
not_required_edit: "You dont have permissions to edit project"
not_found: "Project not found"
edit: "Edit project"
add: "Add project"
delete: "Delete project"
deleted: "Project deleted"