login: "Login"
login_as: "Hi %name%"
logout: "Logout"
password: "Password"
enter_password: "Enter password"
username: "Username"
enter_username: "Enter username"
user_not_exist: "User not exist"
u_are_admin: "You are administrator"
u_are_edit: "You are editor"
login_form_title: "Login form"
you_are_logout: "You are logout"