add: "Add survey"
add_to_project: "Add survey to project '%project%'"
not_found: "Survey not found"
name: "Survey name"
submit: "Save"
deleted: "Deleted"
edited: "Survey edited"
added: "Survey added"
survey: "Survey"
edit: "Edit survey"
delete: "Delete survey"